
.random-name-container{
  text-align: center;
  box-shadow: #141414 0px 1px 1px;
  border: none;
  cursor: grab;
}
.random-name-container textarea{
width: 340px;
height: 120px;
margin-top: 45px;
font-size: 18px;
resize: none;
}
.random-result{
  width: 400px;
  height: 100px;
}
.random-result > p{
  font-size: 2.5rem;
  margin: 15px auto;
  font-weight: bold;
  color: #11a105;
  padding-top: 45px;
}
.random-button{
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 25px;
  background-color: #05780e;
  margin-left: -50px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
.random-input:focus {
  outline: none !important;
  border:2px solid green;
  background-color: #fff;
}
.random-input:hover{
  background-color:#f2f0f0;
}
.number-of-name{
  font-size: .8rem;
  margin-top: -20px;
}
.posible-options{
  width: 90%;
  height: 100px;
  font-weight: bold;
  margin:0 auto;
  box-shadow: 2px 2px 2px 4px #f5f6f7;
}
.random-ele-number{
  visibility: hidden;
  box-shadow: 2px 2px 2px #888888;
}